<nav class="pagination" role="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{pageUrl prev}}" english="Previous" french="Précédent"><i class="fa fa-chevron-circle-left"></i> Précédent</a>
    {{/if}}
    <span class="page-number">Page {{page}} / {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{pageUrl next}}" english="Next" french="Suivant">Suivant <i class="fa fa-chevron-circle-right"></i></a>
    {{/if}}
</nav>